.content {
    width: 85%;
    margin: 5px auto;
    background-color: #5e5e5e;
    color: white;
    padding: 15px;
    border-radius: 25px;
}

.title {
    color: #5AC1F9;
}

.subtitle {
    background-color: #5AC1F9;
    border-radius: 90px;
    width: 85%;
    margin: 5px auto;
    transition: .4s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.432);
}

.subtitle:hover {
    background-color: #4b4b4b;
    color: white;
    cursor: default;
}

.content ul {
    text-align: start;
    max-width: 75%;
    width: max-content;
    margin: 15px auto;
}

li strong {
    color: #5AC1F9;
}

.exemplo {
    background-color: #5af9b7;
    width: 75%;
    margin: 15px auto;
    border-radius: 15px;
    padding-bottom: 15px;

}

.exemplo h3 {
    padding-top: 5px;
}

.retrato {
    width: 80px;
}

.code-center {
    font-size: larger;
}